.footer-list {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 15px 15px 0px 15px;

}

.footer-logo {
  justify-content: center;  /* Centering y-axis */
  align-items :center; /* Centering x-axis */

}